/******ALIGN*******/
/******COLOR*******/
/******************FONT************************/
@font-face {
  font-family: 'Vazir';
  src: url('fonts/Vazir-persian-digits-overwrite.woff') format('woff');
}
/******************FONT************************/
/******ALIGN*******/
/******COLOR*******/
.space-top {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
/******************OVERRIDE FOUNDATION************************/
.row {
  max-width: 100%;
}
ul.off-canvas-list {
  margin: 45px 0 0 0;
}
.off-canvas-wrap {
  height: 100%;
}
.inner-wrap {
  height: 100%;
}
ul.off-canvas-list li a {
  color: #FFF;
}
.large-4 {
  width: 30%;
}
button.tiny,
.button.tiny {
  padding: 0.4rem 0.7rem;
}
ul {
  margin-right: 0;
}
.side-nav li a:not(.button) {
  color: #0960B6;
}
.side-nav li a:hover:not(.button),
.side-nav li a:focus:not(.button) {
  color: #80AADB;
}
/******************OVERRIDE FOUNDATION************************/
/******************OVERRIDE NICESCROLL************************/
.nicescroll-cursors {
  background: #333;
}
.button-group {
  text-align: left;
  padding: 0 8px 8px 8px;
}
/******************OVERRIDE NICESCROLL************************/
/*******************collapse CSS*****************************/
.collapse__menu ul li {
  cursor: pointer;
}
.off-canvas-list li a i {
  padding-left: 8px;
}
/*******************collapse CSS*****************************/
/******************* LIST ITEM CSS*****************************/
.items-list-box {

}
@media (min-width: 200px) and (max-width: 1000px) {
  .items-list-group {
    height: 300px;
  }
  .off-canvas-wrap {
    overflow-y: scroll;
  }
}
ul.items-list-group {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  min-width: 80%;
  list-style: none;
  padding: 0;
  border-right: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}
ul.items-list-group:first-child {
  border-top: 1px solid #E4E4E4;
}
@media (min-width: 200px) and (max-width: 1000px) {
  ul.items-list-group {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
li.items-list {
  border-bottom: 1px solid #E4E4E4;
}
li.items-list:hover {
  cursor: pointer;
  background: #F0F5F4;
}
li.items-list:hover .hover-box {
  display: block;
}
li.items-list button {
  margin-bottom: 0;
}
.items-list__active {
  border-right: 4px solid #0960B6;
  background: #EEF4FB;
}
.items-list__subject {
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}
.items-list__publish-box {
  padding-bottom: 11px;
}
.items-list__date {
  font-size: 12px;
  color: #787878;
  padding-left: 8px;
  padding-right: 8px;
}
.hover-box {
  display: none;
}
.delete {
  background-color: #D9534F;
}
.delete:hover {
  background-color: #B5423F;
}
.edit {
  background-color: #298673;
}
.edit:hover {
  background-color: #0C6351;
}
.side-nav li a i {
  padding-left: 8px;
}
/******************* LIST ITEM CSS*****************************/
/*******************ITEM CONTENTS CSS*****************************/
.item-content__text {
  text-align: justify;
}
.bottom-btn-color {
  color: #333;
}
/*******************ITEM CONTENTS CSS*****************************/
