/******ALIGN*******/
@right: right;
@left: left;
@justify: justify;


/******COLOR*******/
@white: #FFF;
@black: #000;
@default-color: #333;
@blue-dark: #0960B6;
@blue-medium: #80AADB;
@blue-light: #EEF4FB;
@hover-nav-background-color: #F0F5F4;
@border-box-color: #E4E4E4;
@delete: #D9534F;
@delete-hover: #B5423F;
@edit: #298673;
@edit-hover: #0C6351;


/******************FONT************************/
@font-face { 
  font-family: 'Vazir';
  src: url('fonts/Vazir-persian-digits-overwrite.woff') format('woff');
}

/******************FONT************************/

/******ALIGN*******/
/******COLOR*******/
.space-top {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

/******************OVERRIDE FOUNDATION************************/
.row {
  max-width: 100%;
}
ul.off-canvas-list {
  margin: 45px 0 0 0;
}
.off-canvas-wrap {
  height: 100%;
}
.inner-wrap {
  height: 100%;
}
ul.off-canvas-list li a {
  color: @white;
}
.large-4 {
  width: 30%;
}
button.tiny, .button.tiny {
    padding: 0.4rem 0.7rem;
}
ul{
    margin-right: 0;
}
.side-nav li a:not(.button){
  color: @blue-dark;
}
.side-nav li a:hover:not(.button), .side-nav li a:focus:not(.button) {
  color: @blue-medium;
}
/******************OVERRIDE FOUNDATION************************/
/******************OVERRIDE NICESCROLL************************/
.nicescroll-cursors {
  background: @default-color;
}
.button-group{
  direction: ltr;
  padding-left: 8px;
  padding-right: 8px;
}
/******************OVERRIDE NICESCROLL************************/
/*******************collapse CSS*****************************/
.collapse__menu ul li {
  cursor: pointer;
}
.off-canvas-list li a i{
  padding-left: 8px;
}
/*******************collapse CSS*****************************/

/******************* LIST ITEM CSS*****************************/
.items-list-box {
  height: 770px;
}
@media (min-width: 200px) and (max-width: 1000px) {
  .items-list-box {
    height: auto;
  }
  .off-canvas-wrap {
    overflow-y: scroll;
  }
}
ul.items-list-group {
  width: 100%;
  min-width: 80%;
  list-style: none;
  padding: 0;
  border-right: 1px solid @border-box-color;
  border-left: 1px solid @border-box-color;
  border-bottom: 1px solid @border-box-color;
}
ul.items-list-group:first-child{
  border-top: 1px solid @border-box-color;
}
@media (min-width: 200px) and (max-width: 1000px) {
  ul.items-list-group {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
li.items-list {
  border-bottom: 1px solid @border-box-color;
}
li.items-list:hover {
  cursor: pointer;
  background: @hover-nav-background-color;
}
li.items-list:hover .hover-box {
  display: block;
}
li.items-list button {
  margin-bottom: 0;
}
.items-list__active {
  border-right: 4px solid @blue-dark;
  background: @blue-light;
}
.items-list__subject {
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}
.items-list__publish-box{
  padding-bottom: 3px;
}
.items-list__date {
  font-size: 12px;
  color: #787878;
  padding-left: 8px;
  padding-right: 8px;
}
.hover-box {
  display: none;
}
.delete {
  background-color: @delete;
}
.delete:hover {
  background-color: @delete-hover;
}
.edit {
  background-color: @edit;
}
.edit:hover {
  background-color: @edit-hover;
}
.side-nav li a i{
  padding-left: 8px;
}
/******************* LIST ITEM CSS*****************************/
/*******************ITEM CONTENTS CSS*****************************/
.item-content__text {
  text-align: @justify;
}
.bottom-btn-color {
  color: @default-color;
}
/*******************ITEM CONTENTS CSS*****************************/
